/* 
-- Responsive Breakpoints
sm: 640px - mobile phone size
md: 768px - Tablet size
lg: 1024px - Laptop standard size
xl: 1280px -- larger wide desktop size
*/

@import url(navbar.css);
@import url(button.css);
@import url(content.css);
@import url(cover.css);
@import url(menu.css);
@import url(container.css);
@import url(footer.css);

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
    font-family: sans-serif;
}